<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/ngLaunchpad.js" charset="utf-8"></script>
    <title>Angular Fun</title>
  </head>
  <body ng-app='myApp'>
    <div ng-controller='LaunchpadController'>
    <h1>What's Your Favorite Movie?</h1>
    <input type="text" name="name" value="" placeholder='Add favorite movie' ng-model='movieName'>
    <button ng-click='getMovieName()'>Get Movie Name</button>
    <p>My favorite movie is: {{movieName}}</p>
    <ul>
  <li ng-repeat='movie in favoriteMovies'>
    <button ng-click='removeFilm($index);'>remove</button>
    {{ movie }}
  </li>
</ul>
  </div>
  </body>
</html>
